[submodule "deploy/TARGET_IGNORE/uvisor"]
	path = deploy/TARGET_IGNORE/uvisor
	url = git@github.com:ARMmbed/uvisor.git
[submodule "deploy/neo"]
	path = deploy/neo
	url = git@github.com:ARMmbed/neo.git
